.border-black-1px{
	border:0px solid black;
}
.text-center{
	text-align: center;
}
.footer-padding{
	padding:20px;
}
.text-layout-justify{
	text-align: justify;
	padding: 1%;
}
.banner{
	height: 400px;
}
.banner-image{
	background-image: url('../img/2.jpg');
	 background-position: center top;
    background-size: 100% 100%;
    
}
.home-block{
	height:auto;
}
.margin{
margin-top: 1%;
margin-bottom: 1%;
}
.footer-color{
	background-color: #000000;
	color:grey;
}
.greenbanner{font-size:16px;background-color:#0AC791;padding:3%;color:white !important;}
.servive-block
{
    padding:0px;

    color:black !important;
}
.servive-block h2
{
    padding:2px;
    background-color:black;
    color:white !important;
}
.servive-block p
{
    color:black !important;
}
 .servive-block:hover{
    background-color:grey}
.content .col-sm-4{
padding:5px;
}
.rounded-2x{
	border-radius: 10px;
}
.left-border{
	border-left: 1px solid grey;
}
.navbar .brand {
max-height: 40px;
overflow: visible;
padding-top: 0;
padding-bottom: 0;
}
.navbar a.navbar-brand {padding: 9px 15px 8px; }
.breadcrumbs{
    font-weight: 250;
    color:white;
	overflow: hidden;
padding: 10px 0 6px;
border-bottom: solid 1px #eee;
/*background: url(../img/breadcrumbs.png) repeat;*/
background-color: #135D97;
border-bottom: 4px solid #0287C9;
}
.breadcrumbs h1{font-weight:200;}
.navbar .active{
	background-color: none;
	color:black;
}
.navbar li{
    
    display: block;
    font-size: 16px;
    line-height: 22px;
	padding-top: 10px;

color: #636363;
font-family: robotomedium,Arial,Helvetica,sans-serif !important;
/*text-transform: uppercase;*/
text-shadow: none;
}
.navbar li a{
	
	color: black;
}
.active{
	border-bottom: 1px solid grey;
}
.nav>li>a:hover{ background-color:none !important; color:#9b59b6; }
.navbar-right li{
	background-color: none;
	color: black;
	color:white;
}
.navbar-right li{margin-left: 1px;margin-right: 1px;}
#map{height:300px;border:1px solid grey;}

.navbar{
font-family: 'Fjalla One', sans-serif;
}
body{font-family: 'Roboto', sans-serif;}
.main-header{
    color: #135D97;
    font-family: robotobold,Arial,Helvetica,sans-serif;
	padding-left: 1%;
	font-size: 24px;
    font-weight: normal;

}
.subtitle{
    color: #666;
    font-family: roboto,Arial,Helvetica,sans-serif;
	padding: 1%;
	padding-top: 0%;
	font-size: 20px;
    font-weight:200;
}
.main_content{
	text-align: justify;
	padding: 1%;
}
.pad-data{
    padding-top:15px !important;
    padding-bottom:15px;
}
.heading-md {
    color: #666;
    font-family: roboto,Arial,Helvetica,sans-serif;
    font-weight:300;
    underline
}
.bs-example .list-group .active a:hover{color: white}
.bs-example .list-group .active a{color: white !important}


.dropdown-menu > .active > a{background-color: transparent !important;color: black}

.dropdown-menu > li:hover{background-color: #337AB7 !important ;color: white}
.dropdown-menu > li a:hover{background-color: transparent !important;color: white}

.dropdown-menu > .active{background-color: #337AB7;color: white !important}
.dropdown-menu > .active li:hover{background-color: transparent;color: black !important}

.dropdown-menu li{
    font-size:14px !important;
}
select { display: none; } 
@media screen and (min-width: 0px) and (max-width: 720px) {
	  .hidediv { display: none; }   /* hide it elsewhere */
  select { display: block; }   /* hide it elsewhere */
}

@media screen and (min-width: 720px) and (max-width: 2024px) {

  .hidediv { display: block; }  /* show it on small screens */
  select { display: none; }   /* hide it elsewhere */
}
select {width: 100%;color: black}
select .active {background:none;}