.border-black-1px{
	border:0px solid black;
}
.text-center{
	text-align: center;
}
.footer-padding{
	padding:20px;
}
.text-layout-justify{
	text-align: justify;
	padding: 1%;
}
.banner{
	height: 400px;
}
.home-block{
	height:auto;
}
.margin{
margin-top: 1%;
margin-bottom: 1%;
}
.footer-color{
	background-color: #000000;
	color:grey;
}
.greenbanner{font-size:16px;background-color:#0AC791;padding:3%;color:white !important;}
.servive-block
{
    padding:2px;
    background-color:grey;
    color:black !important;
}
.servive-block h2
{
    padding:2px;
    background-color:black;
    color:white !important;
}
.servive-block p
{
    color:black !important;
}
 .servive-block:hover{
    background-color:#39B2E9 }
.content .col-sm-4{
padding:5px;
}
.rounded-2x{
	border-radius: 10px;
}